{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Arbeiten im Kontext{% endblock %}

{% block headerBalken2 %}
    <h1 class="col-12 header-titel">Arbeiten im Kontext</h1>
{% endblock %}

{% block body %}

    <p class="big-text half-size-text">
        Die im Archiv verzeichneten Arbeiten sind von Thonet meist selbst
        beauftragt oder erstellt worden. Es gibt jedoch zahlreiche Arbeiten von
        Künstlern, Grafikern, Architekten und vielen mehr, welche Thonet zum
        Anlass nahmen freie Arbeiten zu entwerfen oder sie dem
        Traditionsunternehmen zu widmen. Diese Arbeiten werden hier separat
        gesammelt und vorgestellt. Genau wie das Archiv ist dies eine stetig
        wachsende Sammlung.
    </p>
{% endblock %}

