{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Arbeiten im Kontext{% endblock %}

{% block headerBalken2 %}
    <h1 class="col-12 header-titel">Arbeiten im Kontext</h1>
{% endblock %}

{% block body %}

    <h1>
        Arbeiten im Kontext
    </h1>
{% endblock %}

