{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Das Projekt{% endblock %}

{% block headerBalken2 %}
    <h1 class="col-12 header-titel">Das Projekt</h1>
{% endblock %}

{% block body %}

    <h1>
        Das Projekt
    </h1>
{% endblock %}

