{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Möbelarchiv{% endblock %}

{% block headerBalken2 %}
    <h1 class="col-12 header-titel">Möbelarchiv</h1>
{% endblock %}

{% block body %}

    <p class="big-text half-size-text">
        Das Möbelarchiv befindet sich noch in Arbeit.
    </p>
{% endblock %}

