{% extends 'base.html.twig' %}

{% block body %}

    <a class="logout-btn" href="{{ path('logout') }}" style="float: right;">logout</a>

    <br/>
    <h1>Administrator-Bereich:</h1>

    <a class="simple-a" href="{{ path('admin') }}">Zurück zur Uploadseite</a>
    <br/><br/>

    <h3>Error-Liste:</h3>
    <p>
        {% for error in errorList %}
            {{ error }}
            <br/><br/>
        {% endfor %}
    </p>
    <br/><br/>

    <a class="simple-a" href="{{ path('admin') }}">Zurück zur Uploadseite</a>

    <br/><br/>

{% endblock %}
